[submodule "thridparty/json"]
	path = thridparty/json
	url = git@github.com:nlohmann/json.git
[submodule "thridparty/googletest"]
	path = thridparty/googletest
	url = https://github.com/google/googletest.git
